<html>
  <head></head>
  <body>
      <p>
      <form action='/display' method='post'>
		<label for='true_sym'>True symbol:</label>
        <input type='text' name='ts' id='true_sym' />
		<p>
		<label for='false_sym'>False symbol:</label>
		<input type='text' name='fs' id='false_sym' />
		<p>
		<label for='size'>Size (2^x):</label>
		<input type='text' name='s' id='size' />
		<p>
        <input type='submit' value='Show truth table' />
		<p>
		<a href="/">Reload page</a>
      </form>
  </body>
</html>